<h3> About Us </h3>

 

Hospital Building

This Hospital has been audited & accredited for – ISO 9001 : 2008 Certified Hospital.

This Hospital consist of General (Male/female) Wards, Pvt. "& Semi Pvt. Air cooled Rooms, a/c & a/c Deluxe rooms equipped with latest    & modern Equipment like:-

Ultra Sound machines- Aloka , Wipro-GE-RT 3200 & Toshiba for all type of Ultra Sound Scanning.

X-Ray Machine .

A modern computerized pathology laboratory equipped with latest model of Acto-1 automated chemistry analyzer.

Intensive care unit with cardiac monitor with defibrillator, pulse oximeter, 02 therapy unit & ventilator & cardio web Digital ECG.

 Well equipped two A/C operation theatre with resuscitation equipments & ohmeda (USA) Bio x 3700 pulse oximeter & ventilator.

Ambulance service :- Fully Air conditioned ambulance VERSA VAN degined & modified by DRAGER MEDICAL – German Company   Equipped with 02 therapy,suction machine, cardiac moniter with pulse oximeter,ventilator model MX10L(Latest Version)& AED   Model CR Plus(Life Pak-USA) i.e. Automatic Electronic Defebrillator, Stretcher cum Trolley  & trained para medical staff available round  the clock.

Facility for C.T.Scan & Blood bank & M.R.I. is available at Agra round the clock in case of any emergency.

Baby Incubators Radient warmers,photo therapy units,Siemens Servi 300A AKAS Infu 306 Advance Infusion Care Systems for premature new borns care.

Equipped with Latest Mobile C-ARM Imaging System of HF Series for all types of Orthopaedic,Urology,Gasteroenterology & Neuro   Surgery.

Pulmonary Functions test unit-equipped with advanced Digital Spirometer [MAESTROS] Pulmonary functions tests equipment for   assessment of lungs functions disorders.

Equipped with Laparoscopic –world famous Karl Storz –Endoskope –Germany equipments for all types of Laparoscopic surgery &   for Hysteroscope & all types of Gynaecological surgery.

Advanced Infertility & I.V.F. CENTRE  under the name & style “AGRA TEST TUBE BABY CENTRE ” equipped with latest   & most   modern equipments with highly specialize facility available for infertile couples.

Labour (Delivery)room equipped with Neodop & Digidop –2 with adjustable high/low FHR limits & alarms/continous monitoring belt   & continous monitoring by nursing staff & doctor for safe delivery.

Imported Nebulizer for Aerosoltherapy to chronic respiratory diseases patients.

This Hospital is registered & approved by Govt. of India & many other internation associations/insurance companies & enlisted   recommended by tourist guide books for rendering medical services to clients/tourist from all over world.

This Hospital has & provide CASH LESS MEDICAL TREATMENT to domestic (National) & International tourist/esteem guests insured   with National & International insurance companies.

This Hospital is approved & enlisted for “CASH LESS SERVICES” – 24     Hours, customer care by following National & International    insurance companies & T.P.S’S.

A panel of specialist doctors like Neurosurgeon,Physician,Cardiologist,General   Surgeon,Orthopaedic,E.N.T.Specialist,Ophthalmologist,Dermatologist,Gynaecologist on call and general duty doctor as well as   trained nurses.

EMERGENCY SERVICES:

Twenty four hour emergency services are provided in the premises & a Resident Medical Offical (English Speaking) available at all the times.

GENERATOR:

 Hospital has its own stand by two generators 12 KVA & of 62KVA to take full load of Hospital including Air Conditioners for the patients comfort & safety during power failures.                                                                                      

KITCHEN:

Hospital has its own well equipped,kitchen with facility of Indian/Continental,Veg/Non-Veg cooking by professional cooks to provide Breakfast/Meals as per Medical advise.

R.O.PLANT:

This hospital has its own installed Reverse Osmosis based waterTreatment plant for 750 L.P.H. for drinking as well as all other uses of water in hospital premesis for prevention & protection of water borne communicable diseases.

On request we can also visit clients in their residence/hotel room or in remote area in case of emergency and can arrange to transfer them in Hospital by Ambulance.

Note:- This Hospital is also approved by the Chief Commissioner of Income Tax,Delhi Govt. of India U/S 17 (2) (ii) (b) of the I.T.Act.1961,for exemption of Medical benefits from perquisites value in respect of medical treatment of prescribed diseases or ailments.(Photocopy of Approval/Exemption attached).
