<h2>Departments:</h2>

<div style="padding-top:20px;">
<ul>
<li>Gynaecology</li>
<li>Critical Care</li>
<li>Orthopaedics</li>
<li>Neurology</li>
<li>Urology</li>
<li>Plastic Surgery</li>
<li>Laproscopic Procedures</li>
</ul>
</div>
